@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes float {
  0% { transform: translate(-50%,0px); }
  50% { transform: translate(-50%,10px); }
  100% { transform: translate(-50%,0px); }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}